* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

body {
    background-color: #00ffff;
}

h1 {
    font-size: 75px;
    margin: 0;
}

#playfield {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#yes, #no {
    margin-top: 10px;
}

.playbox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    height: 450px;
    background-color: #d87093;
    border-radius: 50px;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#blueScore {
    margin-left: 150px;
}

#redScore {
    margin-right: 150px;
}

.hideGif {
    display: none;
}

.disableBtn {
    pointer-events: none;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: #d87093;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover {
    border: 5px solid #006cdf;
    cursor: pointer;
}

button:active {
    background-color: #e993b0;
}

.icon {
    margin-bottom: 10px;
}